Tutorial 6 (Web Service)/WebContent/wsdl/Server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="method">
    <complexType>
     <sequence>
      <element name="pValue" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="methodResponse">
    <complexType>
     <sequence>
      <element name="methodReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="methodResponse">

      <wsdl:part element="impl:methodResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="methodRequest">

      <wsdl:part element="impl:method" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Server">

      <wsdl:operation name="method">

         <wsdl:input message="impl:methodRequest" name="methodRequest">

       </wsdl:input>

         <wsdl:output message="impl:methodResponse" name="methodResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServerSoapBinding" type="impl:Server">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="method">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="methodRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="methodResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServerService">

      <wsdl:port binding="impl:ServerSoapBinding" name="Server">

         <wsdlsoap:address location="http://localhost:8080/Tutorial_6_%28Web_Service%29/services/Server"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
